.container{
    text-align: center;
    margin-top: 150px;
    border: 2px solid;
    width: 50%;
    margin-left: 25%;
    background-image: linear-gradient(darkblue,lightblue,skyblue);
}
button{
    background-color: green;
    border: none;
    border-radius: 50px;
    color: white;
}
input{
    /* //background-color: green; */
    border: none;
    border-radius: 50px;
    outline: none;
}
